<form #castForm="ngForm" (submit)="addCast(castForm)">
    <div class=""mb-3>
        <label for="name"> Name </label>
        <input (ngModel)="castValue.name" name="name" class="form-control"/>

    </div>
    <div class=""mb-3>
        <label for="gender"> Gender </label>
        <input (ngModel)="castValue.gender" name="gender" class="form-control"/>

    </div>
    <div class=""mb-3>
        <label for="tmdbUrl"> TmdbUrl </label>
        <input (ngModel)="castValue.tmdbUrl" name="tmdbUrl" class="form-control"/>

    </div>
    <div class=""mb-3>
        <label for="profilePath"> ProfilePath </label>
        <input (ngModel)="castValue.profilePath" name="profilePath" class="form-control"/>

    </div>
    <input type="submit" class="btn btn-primary" value="Add Cast"/>
    <input type="button" class="btn btn-default" value="Reset" (click)="resetForm(castForm)"/>



</form>
